{% block body %}
    <main id="main">
        <div class="container" style="padding-top: 100px;">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <h1 class="card-header">{{ title }}</h1>
                        <div class="card-body">
                            {% block form_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}