{% extends "base.html.twig" %}
{% block body %}







  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    
      
      
    <div class="hero-container" data-aos="fade-in">
      <h1>Sanatorium Elda</h1>
      <p>Oferujemy <span class="typed" data-typed-items="rehabilitacje, Hotel Premium, usługi medyczne"></span></p>
      <div class="row">
          <div class="col">
          <a href="{{ path('login') }}" type="button" class="btn btn-outline-light">Zaloguj się</a>
          </div>
          
          <div class="col">    
              
          </div>                   
          <div class="col">
              
          </div>
          
          <div class="col">
          <a href="{{ path('registration')}}" type="button" class="btn btn-outline-light">Rejestracja</a>
          </div>
          
      </div>
    </div>
      
  </section>




{% endblock %}