{% extends "base.html.twig" %}
{% block body %}
    {% block header %}
        <header id="header">
            <div class="d-flex flex-column">
                <div class="profile">
                    <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
                    <h1 class="text-light"><a href="index.html">Hotel Sanatorium</a></h1>
                    <div class="social-links mt-3 text-center">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <nav id="navbar" class="nav-menu navbar">
                    <ul>
                        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i>
                                <span>Logowanie</span></a></li>
                        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>O nas</span></a>
                        </li>

                        <li><a href="#facts" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                                <span>Opinia</span></a></li>

                        <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Jakość usług</span></a>
                        </li>

                        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i>
                                <span>Galeria</span></a></li>
                        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                                <span>Kontakt</span></a></li>
                    </ul>
                </nav><!-- .nav-menu -->
            </div>
        </header><!-- End Header -->
    {% endblock header %}
    <main id="main">
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">

            <div class="hero-container" data-aos="fade-in">
                <h1>Sanatorium Elda</h1>
                <p>Oferujemy <span class="typed"
                                   data-typed-items="rehabilitacje, Hotel Premium, usługi medyczne"></span>
                </p>
                <div class="row">
                    <div class="col">
                        <a href="{{ path('login') }}" type="button" class="btn btn-outline-light">Zaloguj się</a>
                    </div>

                    <div class="col">

                    </div>
                    <div class="col">

                    </div>

                    <div class="col">
                        <a href="{{ path('registration') }}" type="button" class="btn btn-outline-light">Rejestracja</a>
                    </div>

                </div>
            </div>

        </section>

        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>O nas</h2>
                    <p>Zapraszamy do naszego luksusowego hotelu i sanatorium, gdzie komfort spotyka się z relaksem i
                        regeneracją. Nasz obiekt jest położony w malowniczej okolicy, co gwarantuje spokój i
                        odprężenie.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="assets/img/welcome/sanatory_1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>Hotel & Sanatorium</h3>
                        <p class="fst-italic">
                            Nasze pokoje są przestronne, elegancko urządzone i wyposażone we wszystkie niezbędne
                            udogodnienia, aby zapewnić Państwu komfortowy pobyt. Oferujemy również szeroki wybór usług,
                            takich jak restauracja serwująca dania kuchni lokalnej i międzynarodowej, bar, siłownia oraz
                            bezpłatny dostęp do Wi-Fi.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Liczba pokoi hotelowych:</strong>
                                        <span>300 +</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Liczba sal zabiegowych:</strong>
                                        <span>100 +</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Liczba personelu:</strong>
                                        <span>500</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Wysoka jakość obsługi:</strong>
                                        <span>Najznakomitsi szefowie kuchni</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Nasze sanatorium oferuje szereg terapii i zabiegów leczniczych, które pomogą Ci odzyskać
                            zdrowie i dobre samopoczucie. Dysponujemy profesjonalnym personelem medycznym oraz
                            nowoczesnym sprzętem, dzięki czemu możemy zapewnić najwyższą jakość usług.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container">

                <div class="section-title">
                    <h2>To najlepsza droga dla zdrowia</h2>
                    <p>Klienci korzystający z naszych usług chętnie do nas wracają. Naszym największym celem jest
                        zrzeszanie najlepszych specjalistów oraz staranne dobieranie zabiegów do dolegliwości
                        kuracjuszy. Ponadto oferujemy wypoczynek w bardzo wysokich standardach które są na bieżąco
                        badane i rozwijane. </p>
                </div>

                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>

                            <p><strong>1000 zadowolonych klientów</strong> korzystających z usług</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                         data-aos-delay="100">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <p><strong>Wysoka jakość obsługi</strong> system znajduje się pod ciągłym okiem specjalistów
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                         data-aos-delay="200">
                        <div class="count-box">
                            <i class="bi bi-headset"></i>
                            <p><strong>Wsparcie o każdej porze</strong> służymy pomocą o każdej porze dnia i nocy</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                         data-aos-delay="300">
                        <div class="count-box">
                            <i class="bi bi-people"></i>
                            <p><strong>Ciągła nauka</strong> Nasze doświadczenie jest coraz większe dzięki opiniom
                                klientów</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->
        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills">
            <div class="container">

                <div class="section-title">
                    <h2>Umiejętności i specjalizacje</h2>
                    <p>Dzięki doskonałemu personelowi, oferujemy wykonywanie zabiegów refundowanych na najwyższym
                        poziomie. Dzięki wykorzystaniu innowacyjnego sprzętu do wykonywania zabiegów, ciągle idziemy do
                        przodu, oferując zabiegi lecznicze o charakterystyce wielu profilów leczenia. </p>
                    <p><b>Wykaz efektywności oferowanych zabiegów: </b></p>

                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        <div class="progress">
                            <span class="skill">Kardiologia <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Fizjoterapia <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Terapia po urazach <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        <div class="progress">
                            <span class="skill">Zabiegi lecznicze <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Zabiegi specjalizacyjne <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Opinia klientów <i class="val">99%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Galeria zdjęć</h2>
                    <p>Pozwól swoim oczom zaznać choć ułamek przyjemności z widoków jakie można podziwiać goszcząc w
                        naszych progach. Zapraszamy do przeglądnięcia galerii!</p>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/1.jpeg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/1.jpeg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Sanatorium"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/2.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/3.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/3.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/4.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/4.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/5.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/5.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/6.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/6.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/7.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/7.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/8.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/8.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/img/welcome/gallery/9.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="assets/img/welcome/gallery/9.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Kontakt</h2>
                    <p>Jeżeli masz wątpliwości prosimy o kontakt na naszą infolinię, lub korzystając z poniższego formularza. Postaramy się odpowiedzieć jak najszybciej. Prosimy o cierpliwość oraz sprawdzanie skrzynki pocztowej!</p>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Lokalizacja</h4>
                                <p>A108, Nowy Sącz</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Adres email</h4>
                                <p>kontakt@elda.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Telefon</h4>
                                <p>+48 123 123 123</p>
                            </div>

                            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Nowy%20S%C4%85cz+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                                    frameborder="0" style="border:0; width: 100%; height: 290px;"
                                    allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Imię i nazwisko</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Adres email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Temat</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Wiadomość</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Ładowanie</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Wiadomość została wysłana! Dziękujemy za zaufanie!</div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Wyślij wiadomość</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->


    </main>




{% endblock %}