<?xml version="1.0"?>
<psalm
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorLevel="7"
    resolveFromConfigFile="true"
    cacheDirectory="tools/var/.psalm/cache"
    rememberPropertyAssignmentsAfterCall="true"
>
    <projectFiles>
        <directory name="src/Core/Controller" />
        <directory name="src/Custom/Controller" />
        <directory name="src/Core/Entity" />
        <directory name="src/Custom/Entity" />
        <directory name="src/Core/Repository" />
        <directory name="src/Custom/Repository" />

        <directory name="migrations/" />
        <directory name="config/" />
        <ignoreFiles>
            <file name="config/preload.php" />
            <directory name="vendor/" />
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin"/>
        <pluginClass class="Weirdan\DoctrinePsalmPlugin\Plugin"/>
    </plugins>
</psalm>
