{% extends "base.html.twig" %}
{% block body %}
    <main id="main">
    <h1>Create a New Treatment</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}

    </main>
{% endblock %}