{% extends "base.html.twig" %}
{% block body %}
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>Witaj, {{ app.user.username }}</h2>
                <p>Reservation</p>
            </div>


        </div>
    </section><!-- End About Section -->
{% endblock %}