{% extends "base.html.twig" %}
{% block body %}
    <main id="main">
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>Rezerwacje</h2>
                <p>Jeżeli widzisz błąd, prosimy o kontakt z administratorem systemu!</p>
            </div>

            <div class="row">
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h2>Twój pobyt</h2>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Miejsce pobytu:</strong> <span>Place</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Termin pobytu:</strong> <span>Termin</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Zakwaterowanie</strong> <span>Zakwaterowanie</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Plan pobytu:</strong> <span>Rodzaj planu</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        W razie wątplliwości związanych z zamówieniem skontaktuj się z nami!
                    </p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}