{% extends "base.html.twig" %}

{% block body %}

<section class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Logowanie</h2>
          <p>Zaloguj się do systemu!</p>
        </div>
        <div class="row" data-aos="fade-in">
          <div class="col-lg-5 d-flex align-items-stretch">
              
    {% include "Core/display_alerts.twig" %}
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}           
<form action="{{ path('login') }}" method="POST">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" name="_username" class="form-control" placeholder="Email" />
    
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" name="_password" class="form-control" placeholder="Hasło" />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for=""> Zapamiętaj mnie </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Zapomniałem hasła</a>
    </div>
  </div>

  <!-- Submit button -->
  <div class="row">
  <button type="submit" class="btn btn-primary btn-block mb-4">Zaloguj się </button>
  </div>
</div>
</form>
              
            </div>
          </div>
        </div>
      </div>
    </section>               


      

               
{% endblock %}


            
