{% extends "base.html.twig" %}

{% block body %}
    <style>
        body {
            /*background-image: url('https://img.freepik.com/free-photo/beautiful-tree-middle-field-covered-with-grass-with-tree-line-background_181624-29267.jpg?w=1480&t=st=1702294953~exp=1702295553~hmac=3d566a3c6047e990b0d84ac897e5928d97e40adc4d4328442cf42b75ce8ba9d2');*/
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            color: #fff;
        }
        .form-container {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 30px;
            border-radius: 15px;
        }
    </style>

    <div class="form-container">
        <h2>Logowanie</h2>
        <p>Zaloguj się do systemu!</p>

        {% include "Core/display_alerts.twig" %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ path('login') }}" method="POST">

            <div class="form-outline mb-4">
                <input type="text" name="_username" class="form-control" placeholder="Email" />
            </div>


            <div class="form-outline mb-4">
                <input type="password" name="_password" class="form-control" placeholder="Hasło" />
            </div>


            <div class="row mb-4">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for=""> Zapamiętaj mnie </label>
                    </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Zaloguj się </button>
        </form>
    </div>
{% endblock %}