{% extends "base.html.twig" %}

{% block body %}
    <main id="main">
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% include 'Core/display_alerts.twig' %}
                <form method="POST">
                    <div class="form-group">
                        <label for="fullname">Imię i nazwisko:</label>
                        <input type="text" name="fullname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="username">Login:</label>
                        <input type="text" name="username" class="form-control" />
                    </div>
                     <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="text" name="email" class="form-control" />
                    </div> 
                     <div class="form-group">
                        <label for="password">Hasło</label>
                        <input type="password" name="password" class="form-control" />
                    </div> 
                     <div class="form-group">
                        <label for="repeatPassword">Powtórz hasło</label>
                        <input type="password" name="repeatPassword" class="form-control" />
                    </div> 
                     <div class="form-group">
                        <input type="submit" name="Zarejestruj" class="btn btn-primary" />
                    </div> 
                </form>
            </div>
        </div>
    </div>
    </main>
{% endblock %}