{% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endfor %}