{% extends "base.html.twig" %}
{% block body %}
<main id="main">
    <div class="container">
        <h5>Dziękujemy za pozostawienia opinii. Dzięki Tobie mamy możliwość ciągłego doskonalenia oraz rozwoju</h5>
    </div>
</main>
{% endblock %}