{% extends "base.html.twig" %}
{% block body %}
    <main id="main">
        <section id="about" class="about">
            <a href="{{ path('room_create') }}" class="btn btn-primary mb-3">Dodaj pokój</a>
            <table class="table table-success transparent-table">
                <thead>
                <tr>
                    <th scope="col">Numer pokoju</th>
                    <th scope="col">Liczba miejsc</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr>
                        <th scope="row">{{ room.getRoomNumber() }}</th>
                        <td>{{ room.getPlacesNum() }}</td>
                        <td>
                            <a href="{{ path('room_show', {'id': room.id}) }}" class="btn btn-info">Pokaż szczegóły</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>

    </main>
{% endblock %}
