@import '~bootstrap/scss/bootstrap';

/* Ukryj submenu */
#submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #151e98;
  border: 1px solid #ccc;
  padding: 10px;
  transition: all 0.3s ease; /* Dodaj animację */
}
body{
  background: #0f1381;
}

/* Stylizacja przycisku "Zabiegi" */
#toggle-submenu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Stylizacja przycisku "Zabiegi" po kliknięciu */
#toggle-submenu.active + #submenu {
  display: block;
}




/*.form-control {
  margin:0 5px; // left and right margin
  margin:5px 0; // top and bottom margin
 }
 
 .row{
     margin-top: 200px;
 }*/


    




