{% extends "base.html.twig" %}
{% block body %}
    <style>
        .align-right {
            text-align: right;
        }
    </style>
    <main id="main">
        <div class="container">
            {% include 'Structure/FlashMessage/flash_messages.twig' %}
            <section id="about" class="about">
                <div class="section-title">
                    <h2>Wiadomości</h2>
                    <p>W tym miejscu możesz przeglądać wiadomości przesłane przez klientów za pomocą formularza kontaktowego</p>
                </div>
                <table class="table table-bordered transparent-table">
                    <thead>
                    <tr>
                        <th scope="col">Nadawca</th>
                        <th scope="col">Adres email</th>
                        <th scope="col">Data przesłania</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for paginate in pagination %}
                        <tr>
                            <th scope="row">{{ paginate.getName() }}</th>
                            <td>{{ paginate.getContactEmail() }}</td>
                            <td>{{ paginate.getCreated()|date('d-m-Y') }}</td>
                            <td class="align-right">
                                <a href="{{ path('contact_show', {'id': paginate.id}) }}" class="btn btn-info">Wyświetl wiadomość</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'Structure/Table/pagination.html.twig' with {'pagination': pagination} %}
            </section>
        </div>
    </main>
{% endblock %}
